<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csdn.dao.HxExpertsMapper">
  <resultMap id="BaseResultMap" type="com.csdn.entity.HxExperts">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="field" jdbcType="VARCHAR" property="field" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="img" jdbcType="VARCHAR" property="img" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, score, num, field, job, img
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hx_experts
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from hx_experts
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.csdn.entity.HxExperts">
    insert into hx_experts (id, name, score, 
      num, field, job, img
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, 
      #{num,jdbcType=INTEGER}, #{field,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.csdn.entity.HxExperts">
    insert into hx_experts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="field != null">
        field,
      </if>
      <if test="job != null">
        job,
      </if>
      <if test="img != null">
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="field != null">
        #{field,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.csdn.entity.HxExperts">
    update hx_experts
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DOUBLE},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="field != null">
        field = #{field,jdbcType=VARCHAR},
      </if>
      <if test="job != null">
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.csdn.entity.HxExperts">
    update hx_experts
    set name = #{name,jdbcType=VARCHAR},
      score = #{score,jdbcType=DOUBLE},
      num = #{num,jdbcType=INTEGER},
      field = #{field,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>